body {
    margin:0;
    font-family:Arial;
    overflow:hidden;
}

#desktop {
    width:100vw;
    height:100vh;
    background:#0f172a;
}

.window {
    position:absolute;
    width:520px;
    height:360px;
    background:#1e1e1e;
    color:white;
    border-radius:8px;
    overflow:hidden;
}

.titlebar {
    background:#333;
    padding:6px;
    display:flex;
    justify-content:space-between;
    cursor:move;
}

#taskbar {
    position:fixed;
    bottom:0;
    width:100%;
    height:40px;
    background:#111;
    display:flex;
    align-items:center;
    gap:10px;
    padding-left:10px;
}
